.masthead{
    margin: auto;
    padding-top: 15rem;
    padding-bottom: calc(20rem - 4.5rem);
    background: linear-gradient(to bottom, #96c9f838 0%, rgba(0, 0, 0, 0.8) 100%), url("imgcss/cover.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    
}
.masthead h1{
    color: antiquewhite;
    font-weight: bold;
}
h2{
    font-family: 'Lexend';
    font-weight: bold;
    font-size: 5vh;
}
a{
    font-family: 'Lexend';
}
.col {
    color: antiquewhite;
    font-family: 'Lexend';
}